#chart_colombia {
    background-image: url(../img/colombia2.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

#chart_mexico {
    background-image: url(../img/mexico.png);
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
  }